.container {
    width: 390px;
    height: 870px;
    background-color: #23252C;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 80%;
    height: 90%;
    border-radius: 10px;
    background-color: #1A1B21;
    position: relative;
}

.light-mode {
    background: #F5F5F5;
}